.DS_Store
.svn/*
*.sdf
*.ipch
*x64
UnityProject/Library/*
UnityProject/obj/*
UnityProject/Temp/*
UnityProject/UnityProject.sln
UnityProject/UnityProject.userprefs
UnityProject/Assembly-CSharp-Editor.csproj

